<div class="row center-xs">
    <div class="col-xs-12 col-sm-10">
        <h2 class="title">OOOPS!</h2>
        <p class="text">Page not found</p>
        <img class="icon-404" src="./../../../assets/icons/icon-404.svg" alt="icon page not found" title="icon page not found">
    </div>
</div>
<div class="row center-xs content-button">
    <div class="col-xs-10 col-sm-2">
        <app-button 
            label = "Go to login"
            (click)="goLogin()">
        </app-button>
    </div>
</div>
