<div class="row">
    <div class="col-xs-12">
        <p class="title">Id: <span class="text">{{ id }}</span></p>
        <p class="title">Name: <span class="text">{{ name }}</span></p>
    </div>
    <div  class="col-xs-12">
        <p class="title">Body</p>
        <div class="content-body">
            <p>{{ body }}</p>
        </div>
    </div>
</div>
<div class="row center-xs">
    <div class="col-xs-4">
        <div mat-dialog-actions>
            <button class="button-close" mat-button mat-dialog-close>Close</button>
        </div>
    </div>
</div>
